extends layout
block head
block content
    #header
        #header-logo
            img(src='img/Alstom.png')
        #header-headline
            | Web Document Validator
    .main
        .container#container1
            .row
                p
                    span.step (1) Select the document to validate (docx or xml or zip):
            .row
                input#file-input(type='file' name='file')
                button#button-upload.btn.btn-primary(type='submit')
                    .upload-facade
                        |Upload
                    .success-facade
                        |Successfully uploaded!
                    .failure-facade
                        |Failed
                    .loading-spokes
                        img(src='components/loading/loading-spokes.svg')
        .container#container-rules
            .row
                p
                    span.step (2) Select the rules to fire:
                    img(src='img/arrow.png')#close1.close-button
            .row
                table#ruleSetsTable.display(cellspacing="0" width="100%")
                    thead
                        tr
                            th Name
                            th Description
                button#button-validate.btn.btn-primary Validate
        .container#container-results
            .row
                p
                    span.step (3) View and download the results:
                    img(src='img/arrow.png')#close2.close-button
            .row
                div#tabs
                    ul
                        li
                            a(href="#tabs-1") Synthetical View
                        li
                            a(href="#tabs-2") Analytical View
                    div#tabs-1
                        table#syntheticalTable(cellspacing="0" width="100%")
                    div#tabs-2
                        table#analyticalTable(cellspacing="0" width="100%")
                button#button-download-SyntheticalView.btn.btn-primary Download Synthetical View
                button#button-download-AnalyticalView.btn.btn-primary Download Analytical View
block scripts