doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width')
        title= 'Web Document Validator'
        link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap-theme.min.css')
        link(rel='stylesheet', href='/components/jquery-ui/themes/smoothness/jquery-ui.min.css')
        link(rel="stylesheet" href="https://cdn.datatables.net/t/dt/dt-1.10.11,se-1.1.2/datatables.min.css")
        link(rel='stylesheet', href='/css/style.css')
        block head
    body
        block content
        script(src='/components/jquery/dist/jquery.min.js')
        script(src='/components/jquery-ui/jquery-ui.min.js')
        script(src="https://cdn.datatables.net/t/dt/dt-1.10.11,se-1.1.2/datatables.min.js")
        script(src='/js/upload.js')
        block scripts