html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    color: #262626;
    font-family: 'Helvetica Neue Light', 'Helvetica Neue', 'Segoe UI', Roboto, sans-serif, Arial;
    font-size: 14px;
    font-weight: 300;
}

.container {
    width: 90%;
    margin-top: 0.5em;
    margin-bottom: 0.5em; 
    display: block;
    box-sizing: border-box;
    border-style: solid;
    border-color: blue;
    border-width: 2px;
 }    
  
.row {
    padding: 0.2em;
}

.step {
    float: left;
    margin-right: 10px;
    font-family: 'Helvetica Neue Light', 'Helvetica Neue', 'Segoe UI', Roboto, sans-serif, Arial;
    font-size: 20px;
    color: blue;
    font-weight: 500;
}

#header {
    text-align: center; 
    margin-bottom: 1em;
}
 
#header-headline {
    text-align: center;
    font-size: 2em; 
}

#header-logo img {
    height: 50px;
    margin-top: 0.5em;
    margin-bottom: 0.5em; 
}

#file-input {
    margin: 0 auto;
    padding: 0.5em;
}

#container-rules, #container-results {
    display: none;
}

#button-upload, #button-validate {
    width: 100%;
    display: none;
    padding: 0.5em;
}

#button-download-SyntheticalView, button#button-download-AnalyticalView {
    width: 50%;
    padding: 0.5em;
}

.loading-spokes {
    display: none; 
}

.loading-spokes img {
    height: 0.5em; 
}

.success-facade {
    display: none; 
}

.failure-facade {
    display: none; 
}

.close-button {
    width: 2em;
    height: 2em; 
    float:right;
    display:inline-block;
}

.close-button:hover { 
    background-color: blue;
}

.disabledDiv {
    pointer-events: none;
    opacity: 0.4;
}